---
layout: default
section_id: home
slides:
  - bg: images/sopris_view.jpg
    small_title:
      klass: bottom-to-top
      text: A team of technologigists working to
    title:
      klass: bottom-to-top
      text: Support the Roaring Fork community
    buttons:
      klass: bottom-to-top
      items:
        - text: Contact Us
          link_to: "contact.html"



works:
  - image: images/@stock/work-1.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-2.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-3.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-4.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-5.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-6.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-7.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development
  - image: images/@stock/work-8.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: graphi-design
    desc: Design &amp; Development


services:
  - icon: microphone
    title: Organize Speaker Events
    desc: Speakers will present on various topics related to technology to help raise awareness, stimulate ideas, and grow professional networks of local professionals.
  - icon: code
    title: Collaborate On Projects
    desc: Collaborative projects offer the most effective way to learn skills needed to implement a technology project. These often involve programming with a group of people eager to help others learn.
  - icon: graduation-cap
    title: Mentor Students
    desc: Local student can seek support on technical projects or career guidance in the technology industry from a group of professionals eager to support future generations.
  - icon: coffee
    title: Support Entrepeneurs
    desc: Have questions about technology and how it fits into your business or idea? Local startups or entrepeneurs can reach out to have a coffee conversation about technology questions they might have.

milestones:
  - icon: folder-open
    from: 0
    to: 2
    title: Projects Collaborated On
  - icon: code
    from: 0
    to: 10
    title: Code Contributing Technologist Members
  - icon: users
    from: 0
    to: 119
    title: Technologist Members
  - icon: microphone
    from: 0
    to: 3
    title: Technologist Hosted Talks

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <!-- <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a> -->
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% include events.html %}

{% include past-events.html %}

<!-- <div class="spacing"></div> -->

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our Goals" %}
      <!--
      <div class='spacing'></div>
      <p>
        Join us for these events if you can. <b>Block Chain!</b>
      </p>
      <div class='two spacing'></div>
      -->
    </div>
  </div>
  <div class="row">

    <div class="medium-3 large-3 columns">
      {% include icon-text.html title='Strengthen The Tech Community' desc='We bring people together to educate, collaborate, and generally create a stronger network of professionals commited to making the Roaring Fork a place to live, work, and play.' icon_class='fa fa-users' delay='0' shape_class='icon-text-circle' %}
    </div>
    <div class="medium-3 large-3 columns">
      {% include icon-text.html title='Support Future Generations' desc='We want to increase the opportunity for future generations to be successful in their career paths while increasing the opportunity for those who want to make the Roaring Fork their home in the future.' icon_class='fa fa-graduation-cap' delay='400' shape_class='icon-text-circle' %}
    </div>
    <div class="medium-3 large-3 columns">
      {% include icon-text.html title='Support Local Entrepeneurship' desc='We strive to bridge gaps between people of different skills, interests, and backgrounds so that technology can be thoughtfully explored as a means to support the greater business community. ' icon_class='fa fa-paper-plane-o' delay='200' shape_class='icon-text-circle' %}
    </div>
    <div class="medium-3 large-3 columns">
      {% include icon-text.html title='Build Connections' desc='We strive to build relationships with those in the Roaring Fork or with other communities who share the desire to collaborate on any of the goals we have. It\'s important to have friends who want to share skills, ideas, and resources in the interest of supporting positive growth.' icon_class='fa fa-comments-o' delay='600' shape_class='icon-text-circle' %}
    </div>
  </div>
</div>

<div class="spacing"></div>

<!-- <div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Our works" %}
      <div class="spacing"></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in page.works %}
        <li class="{{ work.klass }}">
          <a href='{{ work.link_to }}'>
            <img alt="" src="{{ work.image }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div> -->

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Our Mission" %}
      <div class="spacing"></div>
      <p style="text-align:center;">The Roaring Fork Technologists are committed to fostering technological solutions within the community for the purpose of technical business education, economic stimulus, and securing a lifestyle we celebrate for years to come.</p>
      <div class='three spacing'></div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What We Do" %}
      <div class='spacing'></div>
      <p>
        We are a group of volunteers who are on a mission to support our community. Outside of our day jobs we want to help in what capacity we can. This includes regular meetups to work on projects together as well as offering support to local entrepeneurs and schools.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/coffee-notes_640x246.jpg" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>


<div class='full parallax' style='background-image: url(images/sopris-cow-darker.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Roaring Fork Technologist Stats" color="#fff" %}
      <div class='spacing'></div>
      <p class='centered-text' style='color: #ccc;'>
        "Success is to be measured not so much by the position that one has reached in life as by the obstacles which he (or she) has overcome." - Booker T. Washington
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Organizing Team" %}
      <div class='spacing'></div>
      <p>
        The Roaring Fork Technologist are made up of a large group of people from different backgrounds and interests who all play an important roll in our mission. Here are a few of the organizing members who you are more likely to meet if seeking more information or support from the Roaring Fork Technologists.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- <div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div> -->

{% comment %}
{% include our-customers.html %}
{% endcomment %}


<!-- <div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div> -->
