<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="2018 Past Events" %}
      <!--
      <div class='spacing'></div>
      <p>
        Join us for these events if you can. <b>Block Chain!</b>
      </p>
      <div class='two spacing'></div>
      -->
    </div>
  </div>

  <!-- <div class='row'> -->

    {% for event in site.data.events %}

      {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}

      {% if modulo == '1' %}
        <div class='row'>
      {% endif %}

      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% capture posttime %}{{event.date | date: '%s'}}{% endcapture %}

      {% if posttime < nowunix %}
        <div class='large-4 medium-4 columns'>
          <div class='mod modBlogPost'>
            {% if event.type == 'Speaker' %}
              <i class="fa fa-microphone"></i>
            {% endif %}
            <a href="{{event.url}}">
              <!-- <div class="type-title-wrapper">
                <h4 class="type-title text-center" >{{event.type}}</h4>
              </div>
              <img alt="" src="{{site.url}}/{{event.image}}"></img> -->
            </a>
            <div class='content'>
              <p xclass='date'>{{event.date | date: "%A, %b %d" }} {{event.start}} - {{event.end}}</p>
              <a href="{{event.locationLink}}" target="_blank"><p>{{event.location}}</p></a>
              <!-- <a target="_blank" href="https://calendar.google.com/calendar/r/eventedit?text={{event.title}}&dates={{event.date | replace:'-',''}}T233000Z/{{event.date | replace:'-',''}}T250000Z&details={{event.description}}&location={{event.location}}&ctz=America/Denver">Add to Google Calendar</a> -->

              <h4><a href="{{event.url}}">{{event.title}}</a></h4>
              <!-- <p>{{event.description | markdownify}}</p> -->
              <!-- -->
            </div>
          </div>
        </div>

      {% endif %}

      {% if modulo == '0' or forloop.last %}
      </div>
      {% endif %}

    {% endfor %}

  <!--
  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
  -->

</div>
